@page
@model CloudMosaic.Frontend.Pages.CreateMosaicModel
@{
    ViewData["Title"] = "New Mosaic";
}

<h2>New Mosaic</h2>

<div asp-validation-summary="All"></div>
<form method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-10 form-group">
            <label class="control-label">Select image to create mosaic from</label>
            <input type="file" 
                   class="form-control form-control-file" 
                   asp-for="MosaicSourceImage" 
                   accept=".jpg,.png" 
                   style="height:auto"
                   />
        </div>
        <div class="col-md-10 form-group">
            <label class="control-label">Tile Gallery</label>
            <select asp-for="GalleryId" class="form-control">
                @foreach (var gallery in Model.Galleries)
                {
                    <option value="@gallery.GalleryId">@gallery.Name</option>
                }
            </select>
        </div>
        <div class="col-md-10 form-group">
            <label class="control-label">Optional Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>