@page
@model CloudMosaic.Frontend.Pages.EditGalleryModel
@{
    ViewData["Title"] = "Edit Tile Gallery";
}

<h2>Edit Tile Gallery</h2>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div class="row">
        <div class="col-sm form-group">
            <label class="col-xs-3 control-label">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-sm form-group">
            <label class="col-xs-3 control-label">Attributions</label>
            <input asp-for="Attributions" class="form-control" />
        </div>
        <div class="col-sm form-group">
            <label class="col-xs-3 control-label">Is Public</label>
            <input asp-for="IsPublic" class="form-control" />
        </div>
        <div class="col-sm form-group">
            <label class="col-xs-3 control-label">URL to additional images</label>
            <input asp-for="ImportUrl" class="form-control" />
        </div>
    </div>
    <input type="submit" value="Save" class="btn btn-primary"/>
</form>