<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Cloud Mosaic</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mosaic">
                <span class="oi oi-image" aria-hidden="true"></span> Mosaics
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="galleries">
                        <span class="oi oi-grid-four-up" aria-hidden="true"></span> Tile Galleries
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="feed">
                        <span class="oi oi-sort-descending" aria-hidden="true"></span> Feed
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-image" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
