@page "/about"

<h2>About Cloud Mosaic</h2>

<p>
    Cloud Mosaic is a demo application developed by the AWS .NET team to show how to build a serverless
    application on AWS using .NET Core. It was originally created by <a href="https://twitter.com/socketnorm">Norm Johanson</a> 
    and <a href="https://twitter.com/bellevuesteve">Steve Roberts</a> for their AWS re:Invent 2018 
    <a href="https://www.youtube.com/watch?v=FteCJQcTDc4">.NET breakout session</a>. For re:Invent 2019    
    Norm and Steve created version 2.0 of CloudMosaic improving the usablity, error handling and performance. 
    They also took advantage of .NET Core 3.1 including the new server side Blazor web framework.
</p>

<p>
    The source for the 2018 version of CloudMosaic can be found on GitHub here 
    <a href="https://github.com/aws-samples/cloudmosaic-dotnet">https://github.com/aws-samples/cloudmosaic-dotnet</a>.
    The master branch is setup as workshop that you can follow and learn how CloudMosaic was built and deployed
    to AWS. The 2019 version source can be found in the <b>reinvent-2019</b> branch in the same repository. Currently
    2019 version is not in a workshop format and includes just a the source and a README.
</p>


@code {

}
